In [1]:
# Importing Libraries
from bs4 import BeautifulSoup as bs
import requests
import re
import pandas as pd

In [2]:
# Storing link
link = 'https://www.autocarindia.com/car-news/top-10-selling-cars-suvs-in-india-in-fy2022-424413'

In [3]:
# Checking and storing link's response
page = requests.get(link)
page

In [4]:
# Storing page content
soup=bs(page.content,"html.parser")

In [5]:
# Prining the content
# print(soup.prettify())

# Title

In [6]:
# Scraping and storing the title
title = soup.title
print(title.get_text())

Top-10 best selling cars, SUVs in India in FY2022 | Autocar India

In [7]:
# Scraping name of the cars using find_all
car_name = soup.find_all("span", style = "color:#ff0000")
car_name

[<span style="color:#ff0000">Maruti Suzuki Wagon R: 1,88,838 units sold</span>,
 <span style="color:#ff0000">Maruti Suzuki Swift: 1,67,827 units sold</span>,
 <span style="color:#ff0000">Maruti Suzuki Baleno: 1,48,187 units sold </span>,
 <span style="color:#ff0000">Maruti Suzuki Alto: 1,45,167 units sold </span>,
 <span style="color:#ff0000">Tata Nexon: 1,24,130 units sold </span>,
 <span style="color:#ff0000">Hyundai Creta: 1,18,092 units sold</span>,
 <span style="color:#ff0000">Maruti Suzuki Ertiga: 1,17,150 units sold </span>,
 <span style="color:#ff0000">Maruti Suzuki Vitara Brezza: 1,13,751 units sold </span>,
 <span style="color:#ff0000">Maruti Suzuki Dzire: 1,08,564 units sold</span>,
 <span style="color:#ff0000">Maruti Eeco: 1,08,345 units sold</span>]

In [8]:
# Extracting car names from scraped data
car_names = []
for i in range(len(car_name)):
    car_names.append(car_name[i].get_text().split(':')[0])
car_names

['Maruti Suzuki Wagon R',
 'Maruti Suzuki Swift',
 'Maruti Suzuki Baleno',
 'Maruti Suzuki Alto',
 'Tata Nexon',
 'Hyundai Creta',
 'Maruti Suzuki Ertiga',
 'Maruti Suzuki Vitara Brezza',
 'Maruti Suzuki Dzire',
 'Maruti Eeco']

In [9]:
# Extracting scrapped units sold of each car
unit_sold = []
for i in range(len(car_name)):
    unit_sold.append(car_name[i].get_text().strip().split(':')[1])
unit_sold

[' 1,88,838 units sold',
 ' 1,67,827 units sold',
 ' 1,48,187 units sold',
 ' 1,45,167 units sold',
 ' 1,24,130 units sold',
 ' 1,18,092 units sold',
 ' 1,17,150 units sold',
 ' 1,13,751 units sold',
 ' 1,08,564 units sold',
 ' 1,08,345 units sold']

In [10]:
# Extracting only digit values using regular expression
pattern = re.compile(r"\d,\d\d,\d\d\d")
units = []
for i in unit_sold:
    units.append(pattern.search(i))
unit_s = [units[k].group() for k in range(len(units))] #Using list comprehension to print all the values
unit_s

['1,88,838',
 '1,67,827',
 '1,48,187',
 '1,45,167',
 '1,24,130',
 '1,18,092',
 '1,17,150',
 '1,13,751',
 '1,08,564',
 '1,08,345']

In [11]:
# Removing commas and converting data-type to integer
int_unit = []
for i in range(len(units)):
    int_unit.append(int(units[i].group().replace(',','')))
print(int_unit)

[188838, 167827, 148187, 145167, 124130, 118092, 117150, 113751, 108564, 108345]

In [12]:
# Storing links of cars
link2 = 'https://www.zigwheels.com/newcars/Maruti-Suzuki/wagon-r#leadform'
link3 = 'https://www.zigwheels.com/newcars/Maruti-Suzuki/Swift'
link4 = 'https://www.zigwheels.com/newcars/Maruti-Suzuki/baleno'
link5 = 'https://www.zigwheels.com/newcars/Maruti-Suzuki/Alto-800'
link6 = 'https://www.zigwheels.com/newcars/Tata/nexon'
link7 = 'https://www.zigwheels.com/newcars/Hyundai/creta'
link8 = 'https://www.zigwheels.com/newcars/Maruti-Suzuki/ertiga'
link9 = 'https://www.zigwheels.com/newcars/Maruti-Suzuki/vitara-brezza'
link10 = 'https://www.zigwheels.com/newcars/Maruti-Suzuki/dzire'
link11 = 'https://www.zigwheels.com/newcars/Maruti-Suzuki/Eeco'

In [13]:
# Checking and storing link's responses
page2 = requests.get(link2)
page3 = requests.get(link3)
page4 = requests.get(link4)
page5 = requests.get(link5)
page6 = requests.get(link6)
page7 = requests.get(link7)
page8 = requests.get(link8)
page9 = requests.get(link9)
page10 = requests.get(link10)
page11 = requests.get(link11)
print("page2: " ,page2)
print("page3: " ,page3)
print("page4: " ,page4)
print("page5: " ,page5)
print("page6: " ,page6)
print("page7: " ,page7)
print("page8: " ,page8)
print("page9: " ,page9)
print("page10: " ,page10)
print("page11: " ,page11)

page2:  <Response [200]>
page3:  <Response [200]>
page4:  <Response [200]>
page5:  <Response [200]>
page6:  <Response [200]>
page7:  <Response [200]>
page8:  <Response [200]>
page9:  <Response [200]>
page10:  <Response [200]>
page11:  <Response [200]>

In [14]:
# Storing page content individually
soup2=bs(page2.content,"html.parser")
soup3=bs(page3.content,"html.parser")
soup4=bs(page4.content,"html.parser")
soup5=bs(page5.content,"html.parser")
soup6=bs(page6.content,"html.parser")
soup7=bs(page7.content,"html.parser")
soup8=bs(page8.content,"html.parser")
soup9=bs(page9.content,"html.parser")
soup10=bs(page10.content,"html.parser")
soup11=bs(page11.content,"html.parser")
# print(soup2.prettify())

In [15]:
# Scraping description of all cars using find()
price1 = soup2.find("div", class_ = "clr-pry fnt-14 lh-22", itemprop = "description").get_text()
price2 = soup3.find("div", class_ = "clr-pry fnt-14 lh-22", itemprop = "description").get_text()
price3 = soup4.find("div", class_ = "clr-pry fnt-14 lh-22", itemprop = "description").get_text()
price4 = soup5.find("div", class_ = "clr-pry fnt-14 lh-22", itemprop = "description").get_text()
price5 = soup6.find("div", class_ = "pl-15 pr-15").get_text()
price6 = soup7.find("div", class_ = "pl-15 pr-15").get_text()
price7 = soup8.find("div", class_ = "clr-pry fnt-14 lh-22", itemprop = "description").get_text()
price8 = soup9.find("div", class_ = "clr-pry fnt-14 lh-22", itemprop = "description").get_text()
price9 = soup10.find("div", class_ = "clr-pry fnt-14 lh-22", itemprop = "description").get_text()
price10 = soup11.find("div", class_ = "clr-pry fnt-14 lh-22", itemprop = "description").get_text()
pri_ces = [price1, price2, price3, price4, price7, price8, price9, price10]
pri_ces2 = [price5, price6]
# print(price6)

In [16]:
# Scraping prices of all cars
prices = [] 
pattern = re.compile(r"\d.\d\d Lakh to \d.\d\d Lakh")
pattern2 = re.compile(r"\d.\d\d Lakh to \d\d.\d\d Lakh")
def price_scrapper(pr):
    try:
        prices.append(pattern.search(pr).group().replace('to', '-'))
    except AttributeError:
        prices.append(pattern2.search(pr).group().replace('to', '-'))
for i in pri_ces:
    price_scrapper(i)
print(prices)

['5.47 Lakh - 7.20 Lakh', '5.91 Lakh - 8.85 Lakh', '6.49 Lakh - 9.71 Lakh', '3.39 Lakh - 5.03 Lakh', '8.41 Lakh - 12.79 Lakh', '7.99 Lakh - 13.96 Lakh', '6.24 Lakh - 9.17 Lakh', '4.63 Lakh - 5.94 Lakh']

In [17]:
#Scraping prices of all cars having NoneType
prices2 = []
pat = re.compile(r"\d.\d\d Lakh to Rs. \d.\d\d Lakh")
pat2 = re.compile(r"\d.\d\d Lakh to Rs. \d\d.\d\d Lakh")
def price_scrapper2(pr):
    try:
        prices2.append(pat.search(pr).group().replace('to Rs.', '-'))
    except AttributeError:
        prices2.append(pat2.search(pr).group().replace('to Rs.', '-'))
for i in pri_ces2:
    price_scrapper2(i)
# print(prices2)
prices.insert(4,prices2[0])
prices.insert(5,prices2[1])
print(prices)

['5.47 Lakh - 7.20 Lakh', '5.91 Lakh - 8.85 Lakh', '6.49 Lakh - 9.71 Lakh', '3.39 Lakh - 5.03 Lakh', '7.59 Lakh - 12.77 Lakh', '0.44 Lakh - 18.15 Lakh', '8.41 Lakh - 12.79 Lakh', '7.99 Lakh - 13.96 Lakh', '6.24 Lakh - 9.17 Lakh', '4.63 Lakh - 5.94 Lakh']

In [18]:
# Creating a dataframe out of scrapped data
df = pd.DataFrame(data={'Name of Cars':car_names, 'Units Sold':int_unit, 'Price Range':prices})
df

                  Name of Cars  Units Sold             Price Range
0        Maruti Suzuki Wagon R      188838   5.47 Lakh - 7.20 Lakh
1          Maruti Suzuki Swift      167827   5.91 Lakh - 8.85 Lakh
2         Maruti Suzuki Baleno      148187   6.49 Lakh - 9.71 Lakh
3           Maruti Suzuki Alto      145167   3.39 Lakh - 5.03 Lakh
4                   Tata Nexon      124130  7.59 Lakh - 12.77 Lakh
5                Hyundai Creta      118092  0.44 Lakh - 18.15 Lakh
6         Maruti Suzuki Ertiga      117150  8.41 Lakh - 12.79 Lakh
7  Maruti Suzuki Vitara Brezza      113751  7.99 Lakh - 13.96 Lakh
8          Maruti Suzuki Dzire      108564   6.24 Lakh - 9.17 Lakh
9                  Maruti Eeco      108345   4.63 Lakh - 5.94 Lakh